:root {
    --default-bg-color: #181a1b;
    --default-border-color: #383D3F;
    --default-text-color: white;
    --default-text-hover-color: #afbdbb;
}

body {
    background-color: var(--default-bg-color);
    color: var(--default-text-color);
}

.list-group-item {
    color: var(--default-text-color);
    background-color: var(--default-bg-color);
    border-color: var(--default-border-color);
}

.actionBar li {
    padding-top: 20px;
    background-color: var(--default-bg-color);
    border-color: var(--default-border-color);
}

.actionBar li label {
    font-size: 20px; 
    color: var(--default-text-color);
}

.actionBar li input {
    font-size: 20px; 
    color: #6f6b6a;
    background-color: #2b2a33;
    border-color: var(--default-border-color);
}

.actionBar li button {
    background-color: lightGreen;
    border: 2px solid;
    color: black;
    font-size: 16px; 
    padding: 12px 12px;
}

textArea {
    overflow-y: scroll;
    resize: none; 
    text-align: center;
    margin-top: 20px;
}

.nav-link, .nav-link:focus, .nav-link:active {
    color: var(--default-text-color);
}

.nav-link:hover {
    color: var(--default-text-hover-color);
}

.dropdown-menu {
    background-color: var(--default-bg-color);
    border-color: var(--default-border-color);
    color: var(--default-text-color);
}

.dropdown-submenu {
    position: relative;
    color: var(--default-text-color);
}

.dropdown-item {
    color: var(--default-text-color);
}

.dropdown-divider {
    border-color: var(--default-border-color);
}

.dropdown-item:hover {
    color: var(--default-text-hover-color);
    background-color: #1b1e1f;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    color: var(--default-text-hover-color);
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

input[type="checkbox"] {
    background-color: var(--default-bg-color);
    border-color: var(--default-border-color);
}

.modal-content {
    background-color: var(--default-bg-color);
    border-color: var(--default-border-color);
    color: var(--default-text-color);
}

.modal-header {
    border-bottom-color: var(--default-border-color);
}

.outputField {
    height: 250px;
    background-color: #222128;
    border-color: #55555e;
}
